@model AspnetCoreMvcFull.Models.ViewModels.AssignDeveloperViewModel

<div class="row">
	<div class="col-xl">
		<div class="card">
			<div class="card-header">
				<h4>Assign Developer For</h4>
			</div>
			<div class="card-body">
				<form method="post" asp-action="AssignDeveloper" asp-controller="Tickets">
					<input type="hidden" asp-for="Ticket.Id" />
					<input type="hidden" asp-for="Ticket.ProjectId" />
					<a style="font-size:small" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Ticket.ProjectId">@Model.Ticket.Project.Name</a>
					<h5>@Model.Ticket.Title</h5>
					<p>Description: @Model.Ticket.Description</p>

					<div class="mb-6">
						<label class="form-label">Select Developer</label>
						<select required asp-for="DeveloperId" class="form-select" asp-items="@Model.Developers">
							<option></option>
						</select>
					</div>
					<div class="mb-6">
						<input type="submit" value="Assign" class="btn btn-primary" />
						<a class="btn btn-outline-secondary" onclick="history.back()">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
