@model IEnumerable<AspnetCoreMvcFull.Models.ViewModels.ManageUserRolesViewModel>


<h4>Manage Member Roles</h4>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb breadcrumb-style2">
		<li class="breadcrumb-item">Company</li>
		<li class="breadcrumb-item active" aria-current="page">Member Roles</li>
	</ol>
</nav>

<div class="row mb-3">
	@foreach (var member in Model)
	{
		<div class="col-md-6">
			<div class="card m-3">
				<div class="card-body">
					<p class="text-muted font-13 m-b-30"> 
						Select the roles <strong class="text-primary">@member.BTUser.FullName</strong> should be assigned and then click "Assign Role" button.
					</p>
					<hr />
					<form asp-action="ManageUserRoles" asp-controller="UserRoles" method=post>
						<input type="hidden" asp-for="@member.BTUser.Id" />
						<div class="row">
							<div class="col-6">
								<div class="form-group mb-3">
									<label asp-for="@member.Roles" class="form-label">Roles</label>
									<select asp-for="@member.SelectedRoles" class="form-select" asp-items="@member.Roles" multiple>
									</select>
								</div> 
								<div class="form-group">
									<input type="submit" value="Assign Role" class="btn btn-primary" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	}
</div>

<div class="row">
	<div class="col">
		<a class="btn btn-outline-secondary" onclick="history.back()">Go Back</a>
	</div>
</div>
